{% extends "base.html" %}
{% load staticfiles %}
{% load email_obfuscator %}
{% block title %}home{% endblock %}

{% block main_panel %}
<p>Jarrbo ICT is gespecialiseerd in het ontwerpen, invoeren en onderhouden van applicatie infrastructuren en de applicaties zelf.</p>
<p>Jarrbo ICT biedt oplossingen op het gebied van SaaS (Software as a Service), maar vanwege onze grote kennis en ervaring met infrastructuur en middleware kunnen wij u ook helpen en adviseren met IaaS (Infrastructure as a Service) en PaaS (Platform as a Service) oplossingen.</p>
<p><b>Heeft u behoefte aan applicatie met specifieke eisen?</b> Wij kunnen op basis van bestaande frameworks snel een flexibiele maatwerk applicatie voor u maken en die aan u leveren als een SaaS oplossing. Met Software-as-a-Service (SaaS) wordt er complete applicatie oplossing geleverd waarvan u direct, meestal via het internet, gebruik kan maken. Met behulp van ervaren en daadkrachtige projectleiders zorgen wij er voor dat de invoering probleemloos zal verlopen.</p>
<p><b>Bent u niet tevreden over uw huidige infrastructuur?</b> Wij kunnen uw huidige applicatie- en server landschap in kaart brengen en u adviseren over mogelijkheden tot kostenbesparingen door consolidatie en een eventuele verhuizing naar de (private) cloud. Deze migratie projecten kunnen wij ook voor u uitvoeren.</p>
<p><b>Heeft u vragen?</b> Vul dan het <a href={% url 'contact' %}>contact formulier</a> in en we nemen snel contact met u op.</p>
<h1><img class="img-right25" src="{% static "media/jarrbo_transparant.svg" %}" height="50" width="100"></h1>
{% endblock %}
{% block right_panel %}

{% endblock %}