{% extends "base.html" %}
{% load staticfiles %}
{% load email_obfuscator %}
{% block title %}home{% endblock %}

{% block main_panel %}
<h1><img class="img-right25" src="{% static "media/pasfoto.jpg" %}">Jarrbo ICT</h1><p>Jarrbo, de naam die ik gebruik voor mijn IT werkzaamheden, is afgeleid van de initialen van mijn kinderen.</p>
<p>(Ruim) 25 jaar geleden ben ik begonnen bij een grote Nederlandse bank met als opdracht de automatisering van hun internationale netwerk. Er werd gebruikt gemaakt van de AS/400 (en besturingssysteem OS/400), het betrouwbare en veelzijdige systeem van IBM. Tegenwoordig staat het besturingssysteem bekend als <a href="https://nl.wikipedia.org/wiki/IBM_i">IBM i</a> (ook bekend als system i, iSeries of i5/OS) en draait het op het <a href="http://www-03.ibm.com/systems/nl/power/">IBM Power platform</a>. In die tijd heb ik alle facetten van de AS/400 (de naam die door de meeste insiders nog steeds gebruikt wordt) van binnen en buiten leren kennen en heb ik heel veel verschillende rollen (ontwerper, programmeur, database ontwerper, performance specialist, security specialist, middleware specialist, storage specialist, ...) gehad.</p>
<p>Later heb ik mij als system engineer gespecialiseerd in Middleware (MQ, Websphere en file transfer) producten en UNIX/Linux omgevingen (Linux kan trouwens ook op de AS/400 draaien).
<p>Vanaf 2011 ben ik voor IBM actief als IT architect en heb ik diverse projecten gedaan waarin ik fungeerde als storage, infrastructuur en/of enterprise architect. Hierbij heb ik met name veel ervaring opgedaan met omvangrijke storage migraties (EMC naar NetApp) en grote infrastructuur projecten (van o.a. AIX, Linux, Windows en Oracle omgevingen).</p>
<p>Tevens ben ik een TOGAF 9 gecertificeerd enterprise architect (The Open Group, license 79734)</p>
<p>Voor verdere informatie, een uitgebreid CV of opdrachten kunt u contact met mij opnemen: {{ 'ton@jarrbo.nl'|obfuscate_mailto }}, of kijk even op mijn <a href="https://www.linkedin.com/in/ton-botman-a888425">LinkedIn pagina</a>.</p>
{% endblock %}
{% block right_panel %}
<h1><img class="img-center" src="{% static "media/jarrbo_banner_purple_75.png" %}"></h1>
{% endblock %}