{% extends "base.html" %}
{% load i18n %}
{% block main_panel %}
{% if validlink %}

  <h3>{% block title %}{% trans 'Change password' %}{% endblock %}</h3>
  <div class="alert alert-info">
  <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  </div>
  <div class="form-border">
    <form class="form-horizontal" method="post" action="">
      {% csrf_token %}
      {{ form.as_jarrbo }}
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default">{% trans 'Change my password' %}</button>
        </div>
      </div>
    </form>
  </div>

  {% else %}

<div class="alert alert-warning">
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
</div>

{% endif %}

{% endblock %}
