{% extends "base.html" %}
{% load i18n %}

{% block main_panel %}
  <h3>{% block title %}{% trans 'Register an account' %}{% endblock %}</h3>
  <div class="form-border">
    <form class="form-horizontal" method="post" action="">
      {% csrf_token %}
      {{ form.as_jarrbo }}
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default">{% trans 'Register' %}</button>
        </div>
      </div>
    </form>
  </div>
  <h3>> <a href="{% url 'auth_password_reset' %}">{% trans 'Reset my password' %}</a></h3>
{% endblock %}

