{% extends "base.html" %}

{% block main_panel %}

{% if form.errors %}
    <p>Onjuiste gebruikersnaam en/of wachtwoord. Probeer het nog een keer</p>
{% endif %}

<div class="col-sm-6 col-md-6 col-md-offset-3">
    {% if next %}
        {% if user.is_authenticated %}
            <h3 class="text-center login-title">Geen toegang met dit account</h3>
        {% else %}
            <h3 class="text-center login-title">Login</h3>
        {% endif %}
    {% endif %}
    <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
    <input type="text" class="form-control" id="id_username" maxlength="254" name="username" placeholder=gebruikersnaam required autofocus> <br>
    <input type="password" class="form-control" input id="id_password" name="password" placeholder=wachtwoord required> <br>
    <input type="hidden" name="next" value="{{ next }}" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Inloggen</button> <br>
    </form>
    <a href="#" class="text-center new-account">Create an account </a>
</div>

{% endblock %}